@charset "UTF-8";
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.maxwidth-box {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__box {
  width: 100%;
  position: fixed;
  padding: 5px;
  background-color: black;
}

.header__box .header__icon a {
  color: white;
  font-size: 3em;
  padding-left: 15px;
}

.header__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box ul li {
  padding: 0 10px;
}

.header__box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 60px;
  height: 25px;
}

.header__box ul li a:hover {
  border: 1px solid blue;
  border-radius: 5px;
  background: white;
  color: black;
}

#main__banner {
  height: 70vh;
  background: url(https://images.unsplash.com/photo-1499988921418-b7df40ff03f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

#main__banner .main__banner-imgbox > h1 {
  font-size: 3em;
  font-weight: 600;
  color: #727880;
  letter-spacing: -1px;
}

#main__banner h2 {
  padding-top: 25px;
  font-size: 2em;
  color: #1d1b1b;
}

#main__banner .far {
  font-size: 3em;
  padding-top: 80px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-animation: home__avt-img 3s ease-in-out infinite;
          animation: home__avt-img 3s ease-in-out infinite;
}

@-webkit-keyframes home__avt-img {
  from {
    -webkit-transform: rotatey(0);
            transform: rotatey(0);
  }
  to {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

@keyframes home__avt-img {
  from {
    -webkit-transform: rotatey(0);
            transform: rotatey(0);
  }
  to {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

#part1 {
  background: #ececec;
}

#part1 .part1__imgbox {
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1527519135413-1e146b552e10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#part1 .part1__imgbox p {
  font-size: 1.5em;
  line-height: 1em;
  color: silver;
  padding: 0 15px;
}

#part1 .part1__imgbox i {
  font-size: 3em;
  color: silver;
  padding: 50px 15px;
}

/*#part2 {
  height: 50vh;
  .flex__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: cornsilk;
    .flex__box-small {
      width: 33.3%;
      background: crimson;
      height: 60vh;
      margin: 25px 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
  }
}*/
#part2 {
  height: 50vh;
}

#part2 .flex__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /*background: cornsilk;**/
}

#part2 .flex__box .flex__box-small {
  width: 33.3%;
  background: #f7f7f7;
  /* padding: 15% 0;*/
  margin: 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px #ececec;
          box-shadow: 5px 5px 15px #ececec;
}

#part2 .flex__box .flex__box-small h2 {
  font-size: 2.5em;
  padding-top: 40px;
  font-weight: 600;
}

#part2 .flex__box .flex__box-small h3 {
  font-size: 1.1em;
  padding: 25px 6px;
}

#part2 .flex__box .flex__box-small a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
}

#part2 .flex__box .flex__box-small a:hover {
  background: black;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#part2 .flex__box .flex__box-small .img__url1 {
  width: 90%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80) center/cover no-repeat;
  margin-top: 50px;
}

#part2 .flex__box .flex__box-small .img__url1 .img__urlbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  height: 50vh;
  background: black;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#part2 .flex__box .flex__box-small .img__url1 .img__urlbox h4 {
  font-size: 2em;
  color: red;
}

#part2 .flex__box .flex__box-small .img__url1 .img__urlbox:hover {
  opacity: 0.8;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#part2 .flex__box .flex__box-small .img__url2 {
  width: 90%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1434730737257-3e97ad16f4b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80) center/cover no-repeat;
  margin-top: 50px;
}

#part2 .flex__box .flex__box-small .img__url2 .img__urlbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  height: 50vh;
  background: black;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#part2 .flex__box .flex__box-small .img__url2 .img__urlbox h4 {
  font-size: 2em;
  color: red;
}

#part2 .flex__box .flex__box-small .img__url2 .img__urlbox:hover {
  opacity: 0.8;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#part2 .flex__box .flex__box-small .img__url3 {
  width: 90%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1498252207774-50583342eb33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center/cover no-repeat;
  margin-top: 50px;
}

#part2 .flex__box .flex__box-small .img__url3 .img__urlbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  height: 50vh;
  background: black;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#part2 .flex__box .flex__box-small .img__url3 .img__urlbox h4 {
  font-size: 2em;
  color: red;
}

#part2 .flex__box .flex__box-small .img__url3 .img__urlbox:hover {
  opacity: 0.8;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

footer {
  margin-top: 25px;
  padding: 80px 0;
  background: cornsilk;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

/*연습1 scss*/
#main__img {
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  background: url(https://images.unsplash.com/photo-1642548666500-7990b88e691f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=978&q=80) center/cover no-repeat;
}

#introduction {
  max-width: 1240px;
  margin: 0 auto;
}

#introduction .introduction__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 5em 0;
}

#introduction .introduction__wrap h1 {
  font-size: 3em;
  font-weight: 600;
  padding-bottom: 1.5em;
}

#introduction .introduction__wrap p {
  font-size: 1.3em;
  line-height: 1.7em;
  padding-bottom: 7em;
}

#introduction .introduction__wrap .introduction__detail {
  width: 100%;
  margin-bottom: 4em;
}

#introduction .introduction__wrap .introduction__detail li {
  padding: 2em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}

#introduction .introduction__wrap .introduction__detail li a:hover {
  color: royalblue;
}

#introduction .introduction__wrap .introduction__detail li b {
  font-weight: 600;
}

#introduction .introduction__wrap .introduction__detail li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#hi-box .hi__box {
  background: url(https://images.unsplash.com/photo-1543964198-d54e4f0e44e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center/cover no-repeat, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  /*이미지 어둡게 위에 rgba랑 같이써야됨*/
  background-attachment: fixed;
  width: 100%;
  height: 40vh;
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hi-box h2 {
  padding: 50px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  color: white;
}

#hi-box .hi__hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hi-box .hi__hi > li {
  padding: 0.3em 2em;
}

#hi-box .hi__hi > li a {
  color: white;
}

#hi-box .hi__hi > li a:hover {
  color: royalblue;
  font-weight: 600;
}

#introduction2 {
  margin: 0 auto;
}

#introduction2 .introduction2__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 5em 0;
}

#introduction2 .introduction2__wrap h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 1.5em 0;
}

#introduction2 .introduction2__wrap p {
  font-size: 1.2em;
  line-height: 1.2em;
}

#introduction2 .introduction2__wrap-imgbox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#introduction2 .introduction2__wrap-imgbox ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 33.3%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1596625820723-f0f481ff80be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) center/cover no-repeat;
  margin: 0 0.5em;
  position: relative;
  cursor: pointer;
}

#introduction2 .introduction2__wrap-imgbox ul li h3 {
  position: absolute;
  width: 100%;
  background: black;
  height: 20vh;
  color: red;
}

#introduction2 .introduction2__wrap-imgbox ul li li:hover h3 {
  background-color: yellow;
}

#introduction2 .introduction2__wrap-imgbox ul li:nth-child(2) {
  background: url(https://images.unsplash.com/photo-1505521377774-103a8cc2f735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) center/cover no-repeat;
}

#introduction2 .introduction2__wrap-imgbox ul li:last-child {
  background: url(https://images.unsplash.com/photo-1507917570388-d661984ea008?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80) center/cover no-repeat;
}
/*# sourceMappingURL=style.css.map */